In [92]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [93]:
data = pd.read_csv('Crop_recommendation.csv')

In [110]:
data.head()

AttributeError: 'dict' object has no attribute 'head'

In [95]:
X = data.drop('label' ,axis =1)
X = X.drop('N' ,axis =1)
X = X.drop('P' ,axis =1)
X = X.drop('K' ,axis =1)
X = X.drop('ph' ,axis =1)

In [96]:
X.head()

   temperature   humidity    rainfall
0    20.879744  82.002744  202.935536
1    21.770462  80.319644  226.655537
2    23.004459  82.320763  263.964248
3    26.491096  80.158363  242.864034
4    20.130175  81.604873  262.717340

In [97]:
from sklearn.preprocessing import LabelEncoder

In [98]:
le = LabelEncoder()

In [99]:
data['label'] = le.fit_transform(data['label'])

In [100]:
data.head()

    N   P   K  temperature   humidity        ph    rainfall  label
0  90  42  43    20.879744  82.002744  6.502985  202.935536     20
1  85  58  41    21.770462  80.319644  7.038096  226.655537     20
2  60  55  44    23.004459  82.320763  7.840207  263.964248     20
3  74  35  40    26.491096  80.158363  6.980401  242.864034     20
4  78  42  42    20.130175  81.604873  7.628473  262.717340     20

In [101]:
y = data['label']

In [102]:
y.head()

0    20
1    20
2    20
3    20
4    20
Name: label, dtype: int32

In [17]:
model = []
accuracy = []

In [103]:
from sklearn.tree import DecisionTreeClassifier

In [104]:
DT = DecisionTreeClassifier()

In [105]:
DT.fit(X,y)

DecisionTreeClassifier()

In [108]:
x,y,z = input().split()
data = {'temperature':[x],'humidity':[y],'rainfall':[z]}
pred = pd.DataFrame(data)
pred

26 57 191

  temperature humidity rainfall
0          26       57      191

In [109]:
predict = DT.predict(pred)
predict

array([5])

In [111]:
import pickle
file_name = 'Crop_recommendation.sav'
pickle.dump(DT,open(file_name,'wb'))