In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('Crop_recommendation.csv')

In [3]:
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
X = data.drop('label' ,axis =1)
X = X.drop('ph' ,axis =1)

In [5]:
X.head()

    N   P   K  temperature   humidity    rainfall
0  90  42  43    20.879744  82.002744  202.935536
1  85  58  41    21.770462  80.319644  226.655537
2  60  55  44    23.004459  82.320763  263.964248
3  74  35  40    26.491096  80.158363  242.864034
4  78  42  42    20.130175  81.604873  262.717340

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le = LabelEncoder()

In [8]:
data['label'] = le.fit_transform(data['label'])

In [9]:
data.head()

    N   P   K  temperature   humidity        ph    rainfall  label
0  90  42  43    20.879744  82.002744  6.502985  202.935536     20
1  85  58  41    21.770462  80.319644  7.038096  226.655537     20
2  60  55  44    23.004459  82.320763  7.840207  263.964248     20
3  74  35  40    26.491096  80.158363  6.980401  242.864034     20
4  78  42  42    20.130175  81.604873  7.628473  262.717340     20

In [10]:
y = data['label']

In [11]:
y.head()

0    20
1    20
2    20
3    20
4    20
Name: label, dtype: int32

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [13]:
DT = DecisionTreeClassifier()

In [14]:
DT.fit(X,y)

DecisionTreeClassifier()

In [16]:
N = input('N:')
K = input('K:')
P = input('P:')
temp = input('Temperature:')
hum = input('Humidity:')
rain = input('Rainfall:')


data = {'N':[N],'K':[K],'P':[P],'temperature':[x],'humidity':[y],'rainfall':[z]}
pred = pd.DataFrame(data)
pred

KeyboardInterrupt: Interrupted by user

In [17]:
import pickle
file_name = 'Crop_recommendation_with_NPK.sav'
pickle.dump(DT,open(file_name,'wb'))