In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [16]:
df = pd.read_csv("../Datasets/crop_production.csv")
df[:5]

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [17]:
data = df.dropna()

data1 = data.drop(["District_Name","Crop_Year"],axis=1)

In [18]:
data1.head()

,State_Name,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,Whole Year,Cashewnut,720.0,165.0

In [19]:
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
le2 = LabelEncoder()
le3 = LabelEncoder()

In [20]:
data1['State_Name'] = le1.fit_transform(data['State_Name'])
data1['Season'] = le2.fit_transform(data['Season'])
data1['Crop'] = le3.fit_transform(data['Crop'])
data1.head()

   State_Name  Season  Crop    Area  Production
0           0       1     2  1254.0      2000.0
1           0       1    74     2.0         1.0
2           0       1    95   102.0       321.0
3           0       4     7   176.0       641.0
4           0       4    22   720.0       165.0

In [21]:
k = le3.inverse_transform([2])
k

array(['Arecanut'], dtype=object)

In [22]:
data_dum = pd.get_dummies(data1)

In [23]:
x = data_dum.drop("Production",axis=1)
y = data_dum[["Production"]]
# from sklearn.model_selection import train_test_split
# x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33, random_state=42)
# print("x_train :",x_train.shape)
# print("x_test :",x_test.shape)
# print("y_train :",y_train.shape)
# print("y_test :",y_test.shape)
x.head()

   State_Name  Season  Crop    Area
0           0       1     2  1254.0
1           0       1    74     2.0
2           0       1    95   102.0
3           0       4     7   176.0
4           0       4    22   720.0

In [24]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x,y)

<ipython-input-24-c0fb4e276968>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x,y)

RandomForestRegressor()

In [ ]:
# state = input('State: ')
# season = input('Season: ')
# crop = input('Crop: ')

In [26]:
import pickle

In [11]:
# file_name = '../Models/label_encorder1.sav'
# pickle.dump(le1,open(le1,'wb'))

TypeError: expected str, bytes or os.PathLike object, not LabelEncoder

In [27]:
output = open('../Models/state_encoder.pkl', 'wb')
pickle.dump(le1, output)

In [28]:
output = open('../Models/season_encoder.pkl', 'wb')
pickle.dump(le2, output)

In [29]:
output = open('../Models/crop_encoder.pkl', 'wb')
pickle.dump(le3, output)